/*~Princesses are Super Cool!~*/
:root {
  --bright-pink: #f31d7e;
  --light-pink: #f661a5;
  --dark-pink: #d20b65;
  --orange: #fe9915;
  --blue: #83cee2;
  --lime: #cce821;
  --purple: #b182be;
  --garden-pink: #fa9dc1;
}

body {
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

#upper-header {
  height: 52px;
  width: 100%;
  background-color: var(--bright-pink);
}

#logo-box {
  position: absolute;
  top: 4px;
  left: 34px;
  text-align: center;
  white-space: nowrap;
  z-index: 2;
}

.front {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 340px;
  height: 90px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  background: black;
  z-index: 1;
}

#logo-svg {
  height: 72px;
  width: auto;
}

#com {
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 52px;
  margin-left: -4px;
  margin-right: 8px;
}

.fallback {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 340px;
  height: 90px;
  background-color: var(--dark-pink);
  border: 3px solid black;
  box-sizing: border-box;
  z-index: 0;
}

.greeting {
  position: absolute;
  top: 10px;
  left: 440px;
  background-color: transparent;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 32px;
}

#lower-header {
  width: 100%;
  background: var(--bright-pink);
  border-bottom: 8px solid black;
  display: flex;
  flex-flow: row;
}

.upper-stripes-container {
  flex: 1;
}

#top-stripes {
  width: 100%;
  height: 40px;
}

.nav {
  display: flex;
  flex-flow: row;
  background: var(--light-pink);
}

.nav-item {
  height: 40px;
  display: inline-flex;
  align-items: center;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 18px;
  padding: 0 20px;
}

.nav-separater {
  width: 2px;
  background: white;
  margin: 10px 0;
}




.main {
  flex: 1;
  background: white;
}





footer {
  width: 100%;
  min-height: 40px;
  background-color: var(--bright-pink);
}

#bottom-stripes {
  width: 100%;
  height: 40px;
}
