/*~Princesses are Super Cool!~*/
:root {
  --bright-pink: #f31d7e;
  --dark-orange: #fb7a2f;
}

header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100px;
  background-color: var(--bright-pink);
}

#logo {
  width: 300px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 100px;
  background-color: var(--bright-pink);
}
