header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100px;
  background-color: #DA1884;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 100px;
  background-color: #DA1884;
}
