:root {
  --bright-pink: #f31d7e;
  --light-pink: #f661a5;
  --dark-pink: #d20b65;
  --orange: #fe9915;
  --blue: #83cee2;
  --lime: #cce821;
  --purple: #b182be;
  --garden-pink: #fa9dc1;
}

.sidebar {
  position: fixed;
  width: 232px;
  height: 100%;
  background: var(--bright-pink);
  border-right: 6px solid black;
}

.side-container {
  position: relative;
  width: 200px;
  height: 700px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.roombg {
  fill: transparent;
}

.home-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 155px;
  height: 90px;
  z-index: 2;
}

.homebg:hover {
  fill: #d965e2;
}

.homeroom:hover .homeicon path{
  stroke: black;
}

.bedroom-container {
  position: absolute;
  top: 88px;
  left: 0px;
  width: 185px;
  height: 105px;
  z-index: 2;
}

.bedroombg:hover {
  fill: var(--orange);
}

.closet-container {
  position: absolute;
  top: 169px;
  left: 0px;
  width: 120px;
  height: 95px;
  z-index: 3;
}

.garden-container {
  position: absolute;
  top: 194px;
  left: 4px;
  width: 180px;
  height: 150px;
  z-index: 2;
}

.tv-container {
  position: absolute;
  top: 345px;
  left: 0px;
  width: 185px;
  height: 68px;
  z-index: 2;
}

.games-container {
  position: absolute;
  top: 413px;
  left: 0px;
  width: 135px;
  height: 85px;
  z-index: 2;
}

.mall-container {
  position: absolute;
  top: 515px;
  left: 30px;
  width: 165px;
  height: 105px;
  z-index: 2;
}

#floorplan {
  position: absolute;
  width: 200px;
  pointer-events: none;
  z-index: 9999;
}
